FLASK_CONFIG=development
SECRET_KEY=replace-me
DATABASE_URL=
MEDIA_ROOT=
MEDIA_URL=/media/
MAX_CONTENT_LENGTH=5242880
TIMETABLE_API_URL=https://pksk.klubko.si/admin/dogodki/urnikAPI
TIMETABLE_API_TIMEOUT=5
MAIL_SERVER=
MAIL_PORT=
MAIL_USE_TLS=
MAIL_USERNAME=
MAIL_PASSWORD=
