Flask==3.1.1
Flask-Limiter==3.12
Flask-Login==0.6.3
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
Markdown==3.8.2
Pillow==11.3.0
bleach==6.2.0
email-validator==2.2.0
psycopg[binary]==3.2.9
python-dotenv==1.1.1
python-slugify==8.0.4
