{% extends "base.html" %}

{% block title %}PKSK{% endblock %}
{% block meta_description %}{{ site_settings.site_description or 'Plezalni klub Slovenske Konjice' }}{% endblock %}

{% block content %}
  {% if posts %}
    <section aria-labelledby="latest-news">
{#      <h2 id="latest-news">Najnovejše novice</h2>#}
      {% for post in posts %}
        <article class="mb-4">
          <h3 class="h4"><a href="{{ url_for('main.post', slug=post.slug) }}">{{ post.title }}</a></h3>
            {% if post.published_at %}<p class="small"><time datetime="{{ post.published_at.isoformat() }}">{{ post.published_at.strftime('%d. %m. %Y') }}</time></p>{% endif %}
          {% if post.show_full_on_home %}
            {% if post.image %}
              <figure>
                <img src="{{ url_for('main.media', filename=post.image) }}" alt="{{ post.image_alt }}">
                {% if post.image_caption %}<figcaption>{{ post.image_caption }}</figcaption>{% endif %}
              </figure>
            {% endif %}
            <div>{{ post.body_html|safe }}</div>
          {% else %}
            <p class="mb-0">{{ post.summary }}</p>
          {% endif %}
        </article>
      {% endfor %}
      <p><a href="{{ url_for('main.news') }}">Vse novice</a></p>
    </section>
  {% endif %}
{% endblock %}
