.koledar_datum {
    font-size: x-large;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
}

.koledar_expired {
    color: grey;
}

.koledar_hidden {
    display: none;
}

.koledar_od_do {
    font-size: small;
}

.koledar_title {
    font-size: larger;
    font-weight: bold;
}

.tag {
    font-size: small;
    font-weight: bold;
    background-color: #5153ff;
    color: white;
    padding-left: 8px;
    padding-right: 8px;
}

.objavil {
    font-size: small;
    font-weight: bold;
    color: black;
}

.filterbox {
    padding: 5px;
    border: thin solid lightgray;
}