{% extends "base.html" %}

{% block title %}PKSK - Administracija uporabnikov{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>Uporabniki</h1>
    </div>

    <table class="table table-hover table-condensed">
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Name</th>
            <th>About me</th>
            <th>Role</th>
            <th>Last seen</th>
            <th>Akcija</th>
        </tr>
        {% for user in users %}
            <tr>
                <td><a href="{{ url_for('main.user', user_id=user.id) }}">{{ user.username }}</a></td>
                <td>{{ user.email }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.about_me }}</td>
                <td>{{ user.role.name }}</td>
                <td>{{ moment(user.last_seen).fromNow() }}</td>
                <td>
                    <a href={{ url_for("main.edit_profile_admin", id=user.id) }}><span class="glyphicon glyphicon-edit"
                                                                                       data-toggle="tooltip"
                                                                                       title="Popravi uporabnika"></span></a>
                    <a onclick="confirmAction('{{ url_for("admin.delete_user", id=user.id) }}', 'Potrdi brisanje uporabnika {{ user.username }}')"
                       href="#">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <p>Envars: {{ cfg }}</p>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="/static/js/pkskstuff.js"></script>
{% endblock %}