<div class="well">
    <div class="row">
        <div class="col-lg-6">
            <h2>{{ post.title }}</h2>

            <p class="objavil">
                Objavil
                <a href='{{ url_for("main.user", user_id=post.author.username) }}'>
                    {{ post.author.username }}</a>
                {{ moment(post.timestamp).fromNow() }}
                | <a href='{{ url_for("main.post", id=post.id) }}'>povezava</a>
            </p>
        </div>
        <div class="col-lg-6 text-right">
            {% if current_user.can(Permission.ADMINISTER) or post.author == current_user %}
                <a href="{{ url_for('main.edit_post', id=post.id) }}">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                <a onclick="confirmAction('{{ url_for("main.delete_post", id=post.id) }}', 'Potrdi brisanje prispevka')"
                   href="#">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
            {% endif %}
        </div>
    </div>

    {% if post.has_images %}
        <div class="row">
        {% if post.headline_image %}
            <div class="col-lg-8">
        {% else %}
            <div class="col-lg-10">
        {% endif %}
    {% if post.body_html %}
        {{ post.body_html | safe }}
    {% else %}
        {{ post.body }}
    {% endif %}
    </div>
        {% if post.headline_image %}
            <div class="col-lg-4">
        {% else %}
            <div class="col-lg-2">
        {% endif %}
    <figure class="figure">
        <a href="{{ url_for('main.post', id=post.id) }}">
            <img class="figure-img img-fluid img-rounded"
                    {% if post.headline_image %}
                 src="{{ post.headline_image }}"
                    {% else %}
                 src="{{ post.post_thumbnail }}"
                    {% endif %}
                 alt="thumb">
            {% if post.images_count > 1 %}
                <figcaption class="figure-caption text-center">Dodatne
                    slike: {{ post.images_count - 1 }}</figcaption>
            {% endif %}
        </a>
    </figure>
    </div>
    </div>
    {% else %}
        {% if post.body_html %}
            {{ post.body_html | safe }}
        {% else %}
            {{ post.body }}
        {% endif %}
    {% endif %}

    <a href="{{ url_for("main.post", id=post.id, _anchor='comments') }}">
        {% if post.has_comments %}
            Komentarjev <span class="badge">{{ post.comments_count }}</span>
        {% else %}
            {% if current_user.can(Permission.COMMENT) %}
                Dodaj komentar
            {% endif %}
        {% endif %}
    </a>

    </div>