{% extends "bootstrap/base.html" %}

{% block title %}PKSK{% endblock %}

{% block head %}
    {{ super() }}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Plezalni klub Slovenske Konjice - športno plezanje, alpinizem, turno smučanje">
    <meta name="author" content="bfs">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

{% endblock %}

{% block navbar %}
    <a href="{{ url_for("main.index") }}"><img class="img-responsive center-block"
                                               src="{{ url_for('main.random_banner') }}"></a>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}

        <div class="container-fluid">
            {% block page_content %}{% endblock %}
            <br>
            <div class="container-fluid">
                {% block footer %}
                    {% include "_footer.html" %}
                {% endblock footer %}
            </div>
        </div>

    </div>
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-49556614-1', 'pksk.si');
        ga('send', 'pageview');
    </script>
{% endblock %}