{% extends "base.html" %}

{% block styles %}
    <style>
        #pano {
            height: 480px;
            width: 640px;
            margin: auto;
            padding: 5px
        }
    </style>
    {{ super() }}

{% endblock %}

{% block title %}PKSK - balvanska plezalna stena {% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>Naša balvanska stena in visoka stena v športni dvorani</h1>
    </div>
    <h2>Balvanska stena</h2>
    <p>Naš plezalni center z nizko plezalno steno (bolder) je v <a href="{{ url_for('main.informacije') }}">športnem
        parku na Cvetlični ulici</a>. Stena ima približno 140m<sup>2</sup>:
    </p>

    <h3>Stena po prenovi, pomlad 2018</h3>
    <div class="container-fluid">
        <iframe class="center-block"
                src="https://www.google.com/maps/embed?pb=!4v1524241570534!6m8!1m7!1sCAoSK0FGMVFpcE85eXp4eFg2OWF0RWI4a0VBblhzMDFaVm5zYm5Lc055MEtieVE.!2m2!1d46.3341763!2d15.422948!3f28.028588708663072!4f-11.137817985652347!5f0.7820865974627469"
                width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

    <h3>Konec leta 2015:</h3>
    <div class="container-fluid">
        <iframe class="center-block"
                src="https://www.google.com/maps/embed?pb=!4v1524241907701!6m8!1m7!1sCAoSK0FGMVFpcE95MGRtbzNMczE5YWliemRGZ1Q2aGxUd0NxTWdIeEtMVF95a28.!2m2!1d46.3341763!2d15.422948!3f44.88665545212608!4f4.199184135788059!5f0.7820865974627469"
                width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

    <h2>Visoka stena</h2>
    <p>Uporabljamo tudi visoko steno proizvajalca City Wall v športni dvorani. Velika je 11×3.3 m</p>
    <figure class="figure">
        <img class="figure-img img-fluid center-block" src="/static/img/stena.jpg"
             alt="Visoka stena v športni dvorani.">
    </figure>



{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}

<!--                        position: {lat: 46.3360902, lng: 15.4197169}, -->
