{% extends "base.html" %}

{% block styles %}
    <style>
        #pano {
            height: 480px;
            width: 640px;
            margin: auto;
            padding: 5px
        }
    </style>
    {{ super() }}

{% endblock %}

{% block title %}PKSK - balvanska plezalna stena {% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>Naša balvanska stena in visoka stena v športni dvorani</h1>
    </div>
    <h2>Balvanska stena</h2>
    <p>Naš plezalni center z nizko plezalno steno (bolder) je v <a href="{{ url_for('main.informacije') }}">športnem
        parku na Cvetlični ulici</a>. Stena ima približno 140m<sup>2</sup>. Takole pa je izgledala od znotraj leta 2016:
    </p>

    <div class="container-fluid">
        <div id="pano"></div>
    </div>

    <h2>Visoka stena</h2>
    <p>Uporabljamo tudi visoko steno proizvajalca City Wall v športni dvorani. Velika je 11×3.3 m</p>
    <figure class="figure">
        <img class="figure-img img-fluid center-block" src="/static/img/stena.jpg"
             alt="11.12.2012 - Nabijanje puš v vezane plošče.">
    </figure>

{% endblock %}

{% block scripts %}
    <script src="http://maps.google.com/maps/api/js"></script>
    <script type="text/javascript">
        function initialize() {
            google.maps.streetViewViewer = 'photosphere'; // use the new beta viewer
            var panorama = new google.maps.StreetViewPanorama(
                    document.getElementById('pano'), {
                        position: {lat: 46.3360902, lng: 15.4197169},
                        pov: {heading: 40, pitch: 0, zoom: 0.25}
                    });
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    {{ super() }}
{% endblock %}