{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}PKSK - Dodaj novico{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>{% if edit == True %} Uredi {% else %} Dodaj {% endif %}novico</h1>
    </div>
    <p>
        Za oblikovanje besedila je namenjen <a href="http://en.wikipedia.org/wiki/Markdown">Markdown.</a>
    </p>
    <div class="container-fluid">
        <form enctype="multipart/form-data" action="" method="post" name="dodaj_novico" class="form-horizontal"
              role="form">
            {{ form.hidden_tag() }}
            <input type="hidden" name="ImageCount" value="1">
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">Naslov:</label>

                <div class="col-sm-10">
                    {{ form.title(class="form-control", id="naslov") }}
                    {% for e in form.errors.title %}
                        <span class="alert-danger">[{{ e }}]</span>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group">
                <label for="body" class="col-sm-2 control-label">Vsebina:</label>

                <div id="body" class="col-sm-10">
                    {{ form.body(cols=80, rows=10, class="form-control") }}
                    {% for e in form.errors.body %}
                        <span class="alert-danger">[{{ e }}]</span>
                    {% endfor %}
                </div>
            </div>

            {% if edit == True and images != None %}
                <div class="form-group">
                    <label for="slike" class="col-sm-2 control-label">Slike:</label>
                    <div id="slike" class="col-sm-10">
                        {% for image in images %}
                            <figure class="figure">
                                <img class="figure-img img-fluid center-block" src="{{ image.file }}"
                                     alt="thumb">
                                <figcaption class="figure-caption text-center">{{ image.comment }}
                                    {% if current_user.can(Permission.ADMINISTER) or post.author == current_user %}
                                        <a href="{{ url_for('main.edit_image', id=image.id) }}">
                                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                                    {% endif %}
                                </figcaption>
                            </figure>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            <div class="form-group">
                <label for="img1" class="col-sm-2 control-label">Dodaj slike:</label>

                <div class="col-sm-10">
                    {{ form.img1(class="form-control") }}
                    {% for e in form.errors.img1 %}
                        <span class="alert-danger">[{{ e }}]</span>
                    {% endfor %}
                </div>
                <label for="img1comment" class="col-sm-2 control-label">Opis:</label>

                <div class="col-sm-10">
                    {{ form.img1comment(class="form-control") }}
                </div>
            </div>

            <div id="expander">     <!-- tu sem gredo dodatne slike -->
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button id="addImageButton" class="btn-sm" type="button" onclick="addImageField()">Dodatna slika
                    </button>
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn">Objavi novico</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ pagedown.include_pagedown() }}
    <script src="/static/js/pkskstuff.js"></script>
    <script>
        $("#expander").data("count", 1);
    </script>
{% endblock %}