{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}PKSK - Gradnja našega plezalnega centra{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>Gradnja plezalnega centra</h1>
    </div>
    <p>Oktobra 2011 smo začeli s prenovo nekdanjega taborniškega doma, ki je bil že kar nekaj let v žalostno
        razpadajočem stanju.</p>
    <p>Z ogromno lastega dela in pomočjo mnogih nam je uspelo v nekaj letih postaviti sodoben športni objekt.</p>

    <h2>Podiranje starega ostrešja</h2>
    <p>Najprej smo izpraznili notranjost ter z ropotijo in odpadki napolnili tri ali štiri velike kontejnerje. Nato smo
        začeli z rušenjem razpadajočega ostrešja, ki je grozilo, da se bo ob naslednjem večjem neurju podrlo samo od
        sebe.</p>
    <figure class="figure">
        <img class="figure-img img-fluid img-responsive center-block" src="/static/img/gradnja/rusenje.jpg"
             alt="Rušenje strehe">
        <figcaption class="figure-caption text-center">Konec oktobra 2011 - Nič več ni ostalo od stare strehe, ki se je
            podrla skoraj sama od
            sebe.
        </figcaption>
    </figure>

    <h2>Betoniranje venca na vrhu zunanjega zidu</h2>
    <p>Od obstoječe zgradbe je po rušenju ostrešja ostalo bore malo. Ohranili smo samo predelni in zunanji zid. Pa še ta
        ni bil enakomerno visok po
        celotnem obodu, zato smo ga morali pozidati in na vrhu zaključiti z železo-betonskim vencem. Venec je tudi
        zagotovil nosilnost za novo strešno konstrukcijo.</p>
    <figure class="figure">
        <img class="figure-img img-fluid img-responsive center-block" src="/static/img/gradnja/beton1.jpg"
             alt="3.11.2011 - Po zaključenem betoniranju.">
        <figcaption class="figure-caption text-center">3.11.2011 - Po zaključenem betoniranju.
        </figcaption>
    </figure>


    <h2>Gradnja ostrešja in pokrivanje</h2>
    <p>Ostrešje so postavili in prekrili mojstri iz <a href="http://www.krovstvo-borovnik.si/">Krovstva Borovnik</a>.
        <br>
        Mi smo uredili deskanje in strešno lepenko.</p>
    <figure class="figure">
        <img class="figure-img img-fluid img-responsive center-block" src="/static/img/gradnja/kusi_zaga_2011-11-12.jpg"
             alt="12.11.2011 - Kuši žaga.">
        <figcaption class="figure-caption text-center">12.11.2011 - Kuši žaga.
        </figcaption>
    </figure>
    <p></p>
    <figure class="figure">
        <img class="figure-img img-fluid img-responsive center-block" src="/static/img/gradnja/rust1.jpg"
             alt="12.11.2011 - Prvi tramovi so nameščeni.">
        <figcaption class="figure-caption text-center">12.11.2011 - Prvi tramovi so nameščeni.
        </figcaption>
    </figure>
    <p></p>
    <figure class="figure">
        <img class="figure-img img-fluid img-responsive center-block" src="/static/img/gradnja/ostresje1_2011-11-12.jpg"
             alt="gradnja ostrešja">
    </figure>
    <p></p>
    <figure class="figure">
        <img class="figure-img img-fluid img-responsive center-block" src="/static/img/gradnja/ostresje2_2011-11-12.jpg"
             alt="12.11.2011 - Še isti dan smo začeli z deskanjem strehe.">
        <figcaption class="figure-caption text-center">12.11.2011 - Še isti dan smo začeli z deskanjem strehe.
        </figcaption>
    </figure>
    <p></p>
    <figure class="figure">
        <img class="figure-img img-fluid img-responsive center-block" src="/static/img/gradnja/deskano_2011-11-13.jpg"
             alt="13.11.2011 - Naslednji dan je bila streha skoraj v celoti
            prekrita z deskami.">
        <figcaption class="figure-caption text-center">13.11.2011 - Naslednji dan je bila streha skoraj v celoti
            prekrita z deskami.
        </figcaption>
    </figure>
    <p></p>
    <figure class="figure">
        <img class="figure-img img-fluid img-responsive center-block" src="/static/img/gradnja/dahpapa_2011-11-26.jpg"
             alt="26.11.2011 - Čez teden dni pa prekrita s stešno lepenko.">
        <figcaption class="figure-caption text-center">26.11.2011 - Čez teden dni pa prekrita s stešno lepenko.
        </figcaption>
    </figure>
    <p></p>
    <figure class="figure">
        <img class="figure-img img-fluid img-responsive center-block" src="/static/img/gradnja/napusci_2012-03-24.jpg"
             alt="24.3.2012 - Naslednjo pomlad smo dokončno uredili napušče in
            odtočne žlebove.">
        <figcaption class="figure-caption text-center">24.3.2012 - Naslednjo pomlad smo dokončno uredili napušče in
            odtočne žlebove.
        </figcaption>
    </figure>
    <p></p>
    <figure class="figure">
        <img class="figure-img img-fluid img-responsive center-block" src="/static/img/gradnja/izolacija_2012-03-24.jpg"
             alt="24.3.2012 - Notranjost ostrešja smo izolirali s kameno volno.">
        <figcaption class="figure-caption text-center">24.3.2012 - Notranjost ostrešja smo izolirali s kameno volno.
        </figcaption>
    </figure>

    <h2>Urejanje okolice</h2>
    <figure class="figure">
        <img class="figure-img img-fluid img-responsive center-block" src="/static/img/gradnja/okolica1_2012-03-31.jpg"
             alt="31.3.2012 - Odstranjevanje starih tlakovcev in priprave na
            hidroizolacijo sten.">
        <figcaption class="figure-caption text-center">31.3.2012 - Odstranjevanje starih tlakovcev in priprave na
            hidroizolacijo sten.
        </figcaption>
    </figure>


    <h2>Gradnja konstrukcije stene in notranja dela</h2>
    <figure class="figure">
        <img class="figure-img img-fluid img-responsive center-block" src="/static/img/gradnja/pod.jpg"
             alt="Začetek 2012 - Polaganje poda, osnovna konstrukcija stene že
            stoji.">
        <figcaption class="figure-caption text-center">Začetek 2012 - Polaganje poda, osnovna konstrukcija stene že
            stoji.
        </figcaption>
    </figure>
    <p></p>
    <figure class="figure">
        <img class="figure-img img-fluid img-responsive center-block" src="/static/img/gradnja/knauf_2012-03-31.jpg"
             alt="31.3.2012 - Notranje suhomontažne stene postavljata neutrudna Rok in Marko.">
        <figcaption class="figure-caption text-center">31.3.2012 - Notranje suhomontažne stene postavljata neutrudna Rok
            in Marko.
        </figcaption>
    </figure>
    <p></p>
    <figure class="figure">
        <img class="figure-img img-fluid img-responsive center-block" src="/static/img/gradnja/plate2_2012-12-10.jpg"
             alt="10.12.2012 - Priprava vezanih plošč.">
        <figcaption class="figure-caption text-center">10.12.2012 - Priprava vezanih plošč.
        </figcaption>
    </figure>
    <p></p>
    <figure class="figure">
        <img class="figure-img img-fluid img-responsive center-block" src="/static/img/gradnja/plate_2012-12-10.jpg"
             alt="12.10.2012 - Montaža plošč na konstrukcijo stene.">
        <figcaption class="figure-caption text-center">10.12.2012 - Montaža plošč na konstrukcijo stene.
        </figcaption>
    </figure>
    <p></p>
    <figure class="figure">
        <img class="figure-img img-fluid img-responsive center-block" src="/static/img/gradnja/buhtl.jpg"
             alt="December 2012 - Gradnja buhtla.">
        <figcaption class="figure-caption text-center">December 2012 - Gradnja buhtla.
        </figcaption>
    </figure>
    <p></p>
    <figure class="figure">
        <img class="figure-img img-fluid img-responsive center-block" src="/static/img/gradnja/puse_2012-12-11.jpg"
             alt="11.12.2012 - Nabijanje puš v vezane plošče.">
        <figcaption class="figure-caption text-center">11.12.2012 - Nabijanje puš v vezane plošče.
        </figcaption>
    </figure>
    <p></p>
    <figure class="figure">
        <iframe class="figure-img img-fluid img-responsive center-block" width="800" height="450"
                src="https://www.youtube.com/embed/tjHwo7P3t_E?rel=0" frameborder="0"
                allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <figcaption class="figure-caption text-center">18.2.2013 - Janč barva steno.
        </figcaption>
    </figure>
    <p></p>

{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}