{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}PKSK - Gradnja našega plezalnega centra{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>Gradnja plezalnega centra</h1>
    </div>

    <h2>Podiranje starega ostrešja</h2>
    <p>Oktobra 2011 smo začeli s prenovo nekdanjega taborniškega doma, ki je bil že kar nekaj let v žalostno
        razpadajočem stanju </p>
    <p>Najprej smo izpraznili notranjost ter z ropotijo in odpadki napolnili tri ali štiri velike kontejnerje. Nato smo
        začeli z rušenjem razpadajočega ostrešja, ki je grozilo, da se bo ob naslednjem večjem neurju podrlo samo od
        sebe.</p>
    <figure class="figure">
        <img class="figure-img img-fluid center-block" src="/static/img/gradnja/rusenje.jpg"
             alt="Rušenje strehe">
        <figcaption class="figure-caption text-center">Konec oktobra 2011 - Nič več ni ostalo od stare strehe, ki se je
            podrla skoraj sama od
            sebe.
        </figcaption>
    </figure>

    <h2>Betoniranje venca na vrhu zunanjega zidu</h2>
    <p>Od obstoječe zgradbe je po rušenju ostrešja ostalo bore malo. Ohranili smo samo predelni in zunanji zid. Pa še ta
        ni bil enakomerno visok po
        celotnem obodu, zato smo ga morali pozidati in na vrhu zaključiti z železo-betonskim vencem. Venec je tudi
        zagotovil nosilnost za novo strešno konstrukcijo.</p>
    <figure class="figure">
        <img class="figure-img img-fluid center-block" src="/static/img/gradnja/beton1.jpg"
             alt="Rušenje strehe">
        <figcaption class="figure-caption text-center">3.11.2011 - Po zaključenem betoniranju.
        </figcaption>
    </figure>


    <!--    <h2>Hidroizolacija</h2> -->
    <h2>Gradnja ostrešja</h2>

    <h2>Polaganje poda</h2>
    <h2>Prvo urejanje okolice</h2>
    <h2>Gradnja konstrukcije stene in notranja dela</h2>


{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}