{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}PKSK - oirejanje vodnička{% endblock %}
{% block styles %}
    {{ super() }}
    <link href="/static/css/pksk.css" rel="stylesheet">
{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>Urejanje podatkov vodnička</h1>
    </div>

    <div class="container">
        <form enctype="multipart/form-data" action="" method="post" name="edit_guidebook" class="form-horizontal"
              role="form">
            {{ form.hidden_tag() }}

            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">Naslov:</label>
                <div class="col-sm-10">
                    {{ form.title(class="form-control", id="title") }}
                    {% for e in form.errors.title %}
                        <span class="alert-danger">[{{ e }}]</span>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group">
                <label for="author" class="col-sm-2 control-label">Avtor:</label>
                <div class="col-sm-10">{{ form.author(class="form-control", id="author") }}
                    {% for e in form.author.title %}
                        <span class="alert-danger">[{{ e }}]</span>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group">
                <label for="publisher" class="col-sm-2 control-label">Založba:</label>
                <div class="col-sm-10">{{ form.publisher(class="form-control", id="publisher") }}
                    {% for e in form.errors.publisher %}
                        <span class="alert-danger">[{{ e }}]</span>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group">
                <label for="year_published" class="col-sm-2 control-label">Leto izdaje:</label>
                <div class="col-sm-10">{{ form.year_published(class="form-control", id="year_published") }}
                    {% for e in form.errors.year_published %}
                        <span class="alert-danger">[{{ e }}]</span>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="col-sm-2 control-label">Opis:</label>
                <div class="col-sm-10">{{ form.description(class="form-control", id="description") }}</div>
            </div>

            {% if current_user.can(Permission.ADMINISTER) %}
                <div class="form-group">
                    <label for="owner" class="col-sm-2 control-label">Lastnik ({{ owner.username }}):</label>
                    <div class="col-sm-10">{{ form.owner(id="owner") }}</div>
                </div>
            {% endif %}

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn">Shrani</button>
                </div>
            </div>


        </form>


    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="/static/js/pkskstuff.js"></script>
{% endblock %}