{% extends "base.html" %}

{% block title %}PKSK - splošne informacije {% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1> Splošne informacije</h1>
    </div>
    <div class="container-fluid">
        <div class="col-md-6 col-lg-6">
            <address>
                Plezalni Klub Slovenske Konjice<br>
                Cvetlična 2<br>
                3210 Slovenske Konjice<br>
                <a href="mailto:info@pksk.si">info@pksk .si</a><br>
                DŠ: 44361971
            </address>
        </div>
        <div class="col-xs-6 col-md-6">
            Predsednik: Blaž Šelih<br>
            Podpredsednik: Rok Pevec<br>
            Blagajnik: Marko Bezenšek<br>
            Gospodar: Bogdan Založnik<br>
        </div>
    </div>

    <p>Sestanki so vsak prvi torek v mesecu ob 20:00 v plezalnem centru.</p>

    <p>Naš plezalni center z <a href='{{ url_for("main.bolder_3d") }}'>nizko plezalno steno (bolder)</a> je v športnem parku na Cvetlični ulici:</p>

    <div class="container-fluid">
        <div class="col-md-6 col-lg-6">
            <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                    src="https://www.openstreetmap.org/export/embed.html?bbox=15.408861637115479%2C46.3310468217817%2C15.429096221923828%2C46.341506143390006&amp;layer=mapnik&amp;marker=46.33607673265459%2C15.419689658355713"
                    style="border: 1px solid black"></iframe>
            <br/>
            <small><a href="https://www.openstreetmap.org/?mlat=46.3363&amp;mlon=15.4190#map=16/46.3363/15.4190">Prikaži
                večji zemljevid</a></small>
        </div>
        <div class="col-xs-6 col-md-6">
            <a href="/static/img/bajta.jpg"><img class="img-thumbnail img-responsive"
                                                 src="/static/img/bajta_th.jpg"></a>
        </div>
    </div>

    <br>
    <p>Visoka stena pa je v športni dvorani na Šolski ulici 3A:</p>

    <div class="container-fluid">
        <div class="col-xs-6">
            <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                    src="https://www.openstreetmap.org/export/embed.html?bbox=15.408539772033691%2C46.332898830418785%2C15.428774356842041%2C46.343357797822634&amp;layer=mapnik&amp;marker=46.33812856418869%2C15.418667793273926"
                    style="border: 1px solid black"></iframe>
            <br/>
            <small><a href="https://www.openstreetmap.org/?mlat=46.3381&amp;mlon=15.4187#map=16/46.3381/15.4187">Prikaži
                večji zemljevid</a></small>
        </div>
        <div class="col-xs-6">
            <a href="/static/img/dvorana.jpg"><img class="img-thumbnail img-responsive"
                                                   src="/static/img/dvorana_th.jpg"></a>
        </div>
    </div>

{% endblock %}
