{% extends "base.html" %}

{% block title %}PKSK - koledar dogodkov {% endblock %}
{% block styles %}
    {{ super() }}
    <link href="/static/css/pksk.css" rel="stylesheet">
{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>Koledar dogodkov za leto {{ year }}</h1>
    </div>

    <div class="container">
        {% if prev_events > 0 %}
            <nav>
                <ul class="pager">
                    <li class="previous"><a href="{{ url_for('main.koledar', year=year-1) }}"><span
                            aria-hidden="true">&larr;</span> Prejšnje leto
                    </a></li>
                </ul>
            </nav>
        {% endif %}

        <p class="filterbox">Filtriraj oznake:
            {% for tag in tags %}
                <input type="checkbox" class="checkbox_tagfilter" checked id="cb_{{ tag }}"
                       onclick="filter_change('{{ tag }}')">
                <span class="tag">{{ tag }}</span>
            {% endfor %}
            <br>
            <input type="checkbox" id="cb_expired" onclick="expired_change()">
            Skrij minule dogodke za to leto
        </p>


        {% if events %}
            <table class="table table-bordered">

                {% for event in events %}

                    <tr class='{% for tag in event.tags %}{{ tag }} {% endfor %}{% if event.expired %}koledar_expired{% endif %}'>

                        <td style="width:10%; vertical-align: middle">
                            <p class="koledar_datum">
                                {{ event.start | datetimeformat("%d.%m.") }}
                                {% if event.is_multiday %}
                                    <br>-<br>
                                    {{ event.end | datetimeformat("%d.%m.") }}
                                {% endif %}
                            </p>
                        </td>
                        <td style="width:20%"><p class="koledar_title">{{ event.title }}</p>
                            {% if event.end %}
                                <p class="koledar_od_do">Od: {{ event.start | datetimeformat("%d.%m %H:%M") }}<br>
                                    Do: {{ event.end | datetimeformat("%d.%m %H:%M") }}</p></td>
                            {% else %}
                                <p class="koledar_od_do">Ob: {{ event.start | datetimeformat("%H:%M") }}</p>
                            {% endif %}

                        <td style="width:70%">
                            {% if current_user.can(Permission.ADMINISTER) %}
                                <div class="text-right">
                                    <a href="{{ url_for('admin.edit_event', id=event.id) }}">
                                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                                    <a onclick="confirmAction('{{ url_for("admin.delete_event", id=event.id) }}', 'Potrdi brisanje dogodka')"
                                       href="#">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                                </div>
                            {% endif %}

                            {% for tag in event.tags %}
                                <span class="tag">{{ tag }}</span>
                            {% endfor %}

                            <hr>

                            {{ event.body_html | safe }}
                            {% if event.post_id %}
                                <br>
                                <a href="{{ url_for('main.post', id=event.post_id) }}">Več o tem dogodku</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>

        {% else %}
            <h3>Za to obdobje v koledarju ni dogodkov!</h3>
        {% endif %}
        {% if next_events > 0 %}
            <nav>
                <ul class="pager">
                    <li class="next"><a href="{{ url_for('main.koledar', year=year+1) }}">Naslednje leto
                        <span aria-hidden="true">&rarr;</span></a></li>
                </ul>
            </nav>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="/static/js/pkskstuff.js"></script>
{% endblock %}