{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}Plezalni klub Slovenske Konjice{% endblock %}
{% block styles %}
    {{ super() }}
    <link href="/static/css/pksk.css" rel="stylesheet">
{% endblock %}

{% block page_content %}

    <div class="page-header">
        <h1>Novice</h1>
    </div>
    {% if profile_warn %}
        <h3 class="alert-danger">Prosim popravi <a href="{{ url_for('main.edit_profile') }}">tvoj profil</a> in vpiši
            mankajoče podatke. Hvala.</h3>
    {% endif %}

    {% for post in posts %}
        {% include "_post.html" %}
    {% endfor %}

    <div class="pagination">
        {{ macros.pagination_widget(pagination, ".novice") }}
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="/static/js/pkskstuff.js"></script>
{% endblock %}