{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}PKSK - {{ post.title }} {% endblock %}

{% block page_content %}
    <div class="well">
        <div class="row">
            <div class="col-lg-6">
                <h1>{{ post.title }}</h1>

                <p class="small">
                    Objavil
                    <a href='{{ url_for("main.user", user_id=post.author.username) }}'>
                        {{ post.author.username }}</a>
                    {{ moment(post.timestamp).fromNow() }}</p>
            </div>
            <div class="col-lg-6 text-right">
                {% if current_user.is_administrator() or post.author == current_user %}
                    <a href="{{ url_for('main.edit_post', id=post.id) }}">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                    <a href="{{ url_for('main.delete_post', id=post.id) }}">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                {% endif %}


            </div>
        </div>

        {% if post.body_html %}
            {{ post.body_html | safe }}
        {% else %}
            {{ post.body }}
        {% endif %}

        {% if post.has_images %}
            {% for i in post.images %}
                <a href="{{ i.file }}"><img class="thumbnail center-block" src="{{ i.thumbnail }}"
                                            alt="{{ i.comment }}"></a>
                <p class="text-center"><em>{{ i.comment }}</em></p>
            {% endfor %}
        {% endif %}

        <h2>Komentarji ({{ post.comments_count }})</h2>
        <a name="comments"></a>
        {% if post.has_comments %}
            {% for comment in post.comments %}
                {% include "_comment.html" %}
            {% endfor %}
        {% endif %}

        <hr>

        {% if current_user.is_approved %}
            {{ wtf.quick_form(form) }}
        {% endif %}

    </div>
{% endblock %}