{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}PKSK - {{ post.title }} {% endblock %}

{% block styles %}
    {{ super() }}
    <link href="/static/css/pksk.css" rel="stylesheet">
    <link href="/static/css/lightbox.css" rel="stylesheet">
{% endblock %}

{% block page_content %}
    <div class="well">
        <div class="row">
            <div class="col-lg-6">
                <h1>{{ post.title }}</h1>

                <p class="small">
                    Objavil
                    <a href='{{ url_for("main.user", user_id=post.author.username) }}'>
                        {{ post.author.username }}</a>
                    {{ moment(post.timestamp).fromNow() }}</p>
            </div>
            <div class="col-lg-6 text-right">
                {% if current_user.can(Permission.ADMINISTER) or post.author == current_user %}
                    <a href="{{ url_for('main.edit_post', id=post.id) }}">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                    <a onclick="confirmAction('{{ url_for('main.delete_post', id=post.id) }}', 'Potrdi brisanje prispevka')"
                       href="#">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                {% endif %}
            </div>
        </div>

        {% if post.body_html %}
            {{ post.body_html | safe }}
        {% else %}
            {{ post.body }}
        {% endif %}

        <hr>

        {% if post.has_images %}
            <div class="lb_row">
                {% for image in post.images %}
                    <div class="lb_column">
                        <figure class="figure">
                            <img class="figure-img img-fluid img-responsive lb_hover-shadow lb_image-thumbnail" src="{{ image.thumbnail }}"
                                 onclick="openModal();currentSlide({{ loop.index }})" alt="{{ image.comment }}">
                            <figcaption class="figure-caption small">{{ image.comment }}</figcaption>
                        </figure>
                    </div>
                {% endfor %}
            </div>

            <div id="myModal" class="lb_modal">
                <span class="lb_close cursor" onclick="closeModal()">&times;</span>
                <div class="lb_modal-content">

                    {% for image in post.images %}
                        <div class="lb_mySlides">
                            <div class="lb_numbertext">{{ loop.index }} / {{ post.images.count() }}</div>
                            <img src="{{ image.file }}" class="img-responsive center-block" alt="{{ image.comment }}">
                        </div>
                    {% endfor %}

                    <a class="lb_prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="lb_next" onclick="plusSlides(1)">&#10095;</a>

                    <div class="lb_caption-container">
                        <p id="lb_caption"></p>
                    </div>
                </div>
            </div>
        {% endif %}

        <hr>

        <h2>Komentarji ({{ post.comments_count }})</h2>
        <a name="comments"></a>
        {% if post.has_comments %}
            {% for comment in post.comments %}
                {% include "_comment.html" %}
            {% endfor %}
        {% endif %}

        <hr>

        {% if current_user.can(Permission.COMMENT) %}
            {{ wtf.quick_form(form) }}
        {% endif %}

    </div>
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script src="/static/js/pkskstuff.js"></script>
    <script src="/static/js/lightbox.js"></script>
{% endblock %}