{% extends "base.html" %}

{% block title %}Izjava o zasebnosti – {{ site_settings.site_name }}{% endblock %}

{% block content %}
  <h1>Izjava o zasebnosti</h1>

  <h2>Piškotki</h2>
  <p>
      Za boljše delovanje strani uporabljamo piškotke. Piškotek <i>session</i> služi samodejni prijavi
    registriranih uporabnikov in je vezan izključno na stran pksk.si.
  </p>

  <h2>Osebni podatki</h2>
  <p>
    Morebitnih osebnih podatkov članov, ki jih lahko samostojno urejajo v svojem profilu,
    ne bomo nikoli delili s tretjo osebo. Podatki iz profila so vidni samo registriranim
    in prijavljenim uporabnikom.
  </p>
{% endblock %}
