{% extends "base.html" %}

{% block title %}PKSK - izjava o zasebnosti {% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>Izjava o zasebnosti</h1>
    </div>

    <h2>Piškotki</h2>
    <p>Za boljše delovanje strani uporabljamo piškotke (cookie). Piškot služi samodejni prijavi registriranih
        uporabnikov in je vezan izključno na stran pksk.si</p>

    <h2>Google Analytics</h2>
    <p>Od 8.3.2019 NE UPORABLJAMO VEČ storitve <a href="https://analytics.google.com">Google
        Analytics</a>, ki je uporabljala ali namestila sledilni piškot/e. Še vedno pa imate lahko v brskalniku sledilni
        piškot, ki je bil nameščen pred tem časom.</p>

    <h2>Osebni podatki</h2>
    Morebitne osebne podatke članov, ki jih ti lahko samostojno urejajo v svojem profilu ne bomo nikoli delili s tretjo
    osebo. Podatki iz profila so vidni samo registriranim in prijavljenim uporabnikom.

{% endblock %}
