{% extends "base.html" %}

{% block styles %}
    {{ super() }}
{% endblock %}

{% block title %}PKSK - šola športnega plezanja 2019{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>Šola športnega plezanja 2019</h1>
    </div>

    <p>Šolo športnega plezanja bomo začeli v drugi polovici januarja 2019. Informaticni sestanek bo <b>24.1. ob
        18:00</b>.
    </p>

    <p>V šoli se boste naučili vseh potrebnih veščin za samostojno in varno plezanje enoraztežajnih
        športno plezalnih smeri. <br>Šola je sestavljena iz predavanj, predvsem pa iz mnogo praktičnih vaj in prikazov.
        Najprej poteka na umetni steni v športni dvorani, zaključi pa se z obiski plezališč v naravi.<br>
        Šola je primerna za vse, ne glede na morebitno (plezalsko) predznanje ali sposobnosti. Edini pogoj je
        dopolnjenih 16 let.</p>

    <img class="img-responsive center-block" src="/static/img/plakat_sola_2019.png">
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}