{% extends "base.html" %}

{% block title %}PKSK - urnik treningov otrok{% endblock %}

{% block page_content %}
    <div class="page-header
        <h1>Urniki treningov otrok, 2018/19</h1>
    </div>

    <p>Tudi letos potekajo treningi otrok v treh starostnih skupinah in sicer ob TORKIH in ČETRTKIH:</p>

    <ol>
        <li>skupina (5-7 let): od 15:30 do 16:15</li>
        <li>skupina (8-11 let: od 14:00 do 15:15</li>
        <li>skupina (12 - 15 let): od 16:30 do 18:00</li>
    </ol>

    <p>Z vpisi na treninge bomo začeli v torek, 11.9. 2018.</p>

    <p>Dodatne informacije na telefon <strong>031 221 318</strong> ali <strong>041 531 108</strong>.</p>
    <img class=" img-thumbnail img-responsive" src="/static/img/urnik_otroci.jpg">
{% endblock %}
